<h1>{{title}}</h1>
<nav>
    <ul style="display: flex; justify-content: space-evenly;">
      <!--
        invece di href useremo rounterLink con il valore del path che abbiamo dato nella definizione della route
        routerLinkActive indica la classe CSS da applicare al link attivo
        fragment consente di navigare verso le ancore interne (previa abilitazione dell opzione scrolling nel routing)
      -->
      <a routerLink="login" >Login</a>    
      <a routerLink="network">Network</a>    
      <a routerLink="profile" >Profile</a>  
    </ul>
  </nav>
  <hr>

 

<router-outlet>
    <!--qui verranno reindirizzati componenti chiamati dal router-->
  </router-outlet>